{
  "env": {
    "browser": true,
    "es2021": true
  },
  "parser": "vue-eslint-parser",
  "plugins": ["eslint-plugin-import", "vue"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/vue3-recommended",
    "plugin:vue-pug/vue3-recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:vue/essential"
  ]
}
